<form class="form" method="post" action="" onsubmit="formSubmit()" >
  {% for item in site.data.form.input %}
    <div class="form__item">
      <label class="form__label">{{ item.titel }}:</label>
      <input class="form__input" type="text" name="{{ item.titel }}" {% if item.required == true %} required {% endif %}>
    </div>
  {% endfor %}
  <div class="form__item">
    <label class="form__label">E-mailadres:</label>
    <input class="form__input" type="text" name="_replyto" >
  </div>
  <div class="form__item form__item--bericht">
    <label class="form__label">Bericht:</label>
    <textarea class="form__textarea" name="bericht" placeholder="Schrijf hier het bericht" required></textarea>
  </div>
  <div class="form__item form__item--hoe">
    <label class="form__label">Neem contact met mij op via:</label>
    <select class="form__select" name="contact opnemen via">
      <option value="0">Maak een keuze:</option>
      <option value="whatsapp">Whatsapp</option>
      <option value="bellen">Bellen</option>
      <option value="e-mail">E-mail</option>
    </select>
  </div>
  <input type="hidden" name="_to" value="silveltman@hotmail.com">
  <input type="text" name="_subject" style="display: none;" value="Bericht via contactformulier">
  <input type="text" name="_gotcha" style="display: none;">
  <input class="form__submit" type="submit" value="Verstuur">
</form>
