<nav class="nav {% if page.name == 'index.html' %}nav--index nav--big{% endif %}">
  <ul class="nav__list">
        <li class="nav__item nav__item--logo">
          <a class="nav__logo {% if page.name == 'index.html' %}nav__logo--index nav__logo--big {% endif %}" href="{{ site.data.navigation.index.url }}">
            <img src="/assets/img/logo.png" alt="">
          </a>
        </li>
      {% for item in site.data.navigation.page %}
        <li class="nav__item">
          <a class="nav__link {% if page.name == 'index.html' %}nav__link--index nav__link--big {% endif %}" href="{{ item.url }}">
            {{ item.title }}
          </a>
        </li>
     {% endfor %}
     <button class="nav__menu" onclick="navMenu()">
       <div id="nav-icon">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
       </div>
     </button>
   </ul>
</nav>
<div class="side-nav">
  <ul class="side-nav__list">
    {% for item in site.data.navigation.link %}
        <li class="side-nav__item"><a class="side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
     {% endfor %}
  </ul>
</div>
<div class="shadow-nav" onclick="navMenu()"></div>
