$font: "calibri";
$bg: #313132;
$color: white;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* self added */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	min-height: 100vh; /* self added */
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* self added */
input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:focus {
    outline: 0;
  }
}

/* self added */
button {
  outline: 0;
  background: 0;
  border: 0;
  cursor: pointer;
  font-family: $font;
}

a[href^="tel"], a[href^="mailto"] {
  color: inherit; /* Inherit text color of parent element. */
}


@mixin media($size) {
  $media1: (min-width: 576px);
  $media2: (min-width: 768px);
  $media3: (min-width: 992px);
	$media4: (min-width: 1200px);

  @if $size == 1 {
    @media only screen and #{$media1} {
      @content;
    }
  }
  @else if $size == 2 {
    @media only screen and #{$media2} {
      @content;
    }
  }
  @else if $size == 3 {
    @media only screen and #{$media3} {
      @content;
    }
	}
	@else if $size == 4 {
		@media only screen and #{$media4} {
			@content;
		}
	}
}

body {
  font-family: $font;
  background: $bg;
  color: $color;
}

h1 {
}

p {
}

.container {
  width: calc(100% - 40px);
  margin: 0 auto;
	@include media(1) {
	  max-width: 540px;
	}

	@include media(2) {
	  max-width: 720px;
	}

	@include media(3) {
	  max-width: 960px;
	}

	@include media(4) {
	  max-width: 1140px;
	}
}
