$bodyFont: " ";
$bodyBackground: ;
$bodycolor: ;


@mixin border-radius($property) {
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  border-radius: $property;
}

@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}
@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  box-shadow: $property;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $bodyFont;
  background: $bodyBackground;
  color: $bodyColor;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button {
  outline: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1 {
}

p {
}

.container {
  width: calc(100% - 40px);
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 510px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 690px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 930px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}
