<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <meta name="format-detection" content="telephone=no">

    <!-- <script src="https://kit.fontawesome.com/e54a9cf40b.js" crossorigin="anonymous"></script> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

    <!-- <meta property="og:title" content=" " /> -->
    <!-- <meta property="og:description" content=" " /> -->
    <!-- <meta property="og:image" content=" " /> -->

    {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}

    <script src="/assets/js/main.js"></script>
  </body>
</html>
